html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #353a3f;
	font-family: 'Quicksand', sans-serif;
	color: white;
}

.event-section {
	height: 400px;
	width: 373px;
}

.image { 
   position: absolute; 
   height: 400px;
   width: 373px;
}

.event-text {
	z-index: 100;
	position: absolute;
	color: white;
	margin-left: 8px;
	margin-top: 280px;
}

.price {
	z-index: 100;
	position: absolute;
	font-size: 15px;
	color: white;
	margin-top: 25px;
	margin-left: 260px;
}


