h2, p {
	font-family: 'Quicksand', sans-serif;
	font-size: 400;
}

body {
	background-color: #353a3f;
}

.event-section {
	height: 300px;
	width: 300px;
}

.image { 
   position: absolute; 
   height: 300px;
   width: 300px;
}

.event-text {
	z-index: 100;
	position: absolute;
	color: white;
}


