<div class="container">
	<h1>Add New Event</h1>
	<form action="/event" method="POST">
		<div class="form-group">
			<label for="">Event Name / Place</label>
			<input type="text" class="form-control" placeholder="Event name or place here" name="eventName">
		</div>
		<div class="form-group">
			<label for="">Venue Name / Happy Hour</label>
			<input type="text" class="form-control" placeholder="Venue name or happy hour here" name="venueName">
		</div>
		<div class="form-group">
			<label>Day(s) of the Week</label>
			<div class="checkbox">
				<label for="">
					<input type="checkbox" value="Monday"> Monday
					<br>
					<input type="checkbox" value="Tuesday"> Tuesday
					<br>
					<input type="checkbox" value="Wednesday"> Wednesday
					<br>
					<input type="checkbox" value="Thursday"> Thursday
					<br>
					<input type="checkbox" value="Friday"> Friday
					<br>
					<input type="checkbox" value="Saturday"> Saturday
					<br>
					<input type="checkbox" value="Sunday"> Sunday
					<br>
					<input type="checkbox" value="Everyday"> Everyday
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="">Photo</label>
			<input type="text" class="form-control" placeholder="Link to photo here" name="photo">
		</div>
		<div class="form-group">
			<label for="">Price</label>
			<input type="text" class="form-control" placeholder="Price Here (i.e. $10 per ticket, $2-8 drinks)" name="price">
		</div>
		<div class="form-group">
			<label for="">Address</label>
			<input type="text" class="form-control" placeholder="Address Here (ex: 6504 20th Ave NE, Seattle, WA 98115)" name="address">
		</div>
		<div class="form-group">
			<label for="">Event Description</label>
			<textarea name="" id="" cols="30" rows="10" class="form-control" name="eventDescription"></textarea>
		</div>
		<div class="form-group">
			<label for="">Venue Description</label>
			<textarea name="" id="" cols="30" rows="10" class="form-control" name="eventDescription"></textarea>
		</div>
		<div class="form-group">
			<label for="">Link to Ticket</label>
			<input type="text" class="form-control" placeholder="Link to Ticket Here" name="ticketLink">
		</div>
		<div class="form-group">
			<label for="">Start Time of Event or Happy Hour</label>
			<input type="text" class="form-control" placeholder="Start time of event or happy hour here (i.e. 4PM)" name="startTime">
		</div>
		<div class="form-group">
			<label for="">End Time of Event or Happy Hour</label>
			<input type="text" class="form-control" placeholder="End time of event or happy hour here (i.e. 4PM)" name="endTime">
		</div>
		<div class="form-group">
			<label for="">Start Date</label>
			<input type="text" class="form-control" placeholder="Start DateHere" name="startDate">
		</div>
		<div class="form-group">
			<label for="">End Date</label>
			<input type="text" class="form-control" placeholder="End Date Here" name="endDate">
		</div>
		<div class="form-group">
			<label for="">Interest</label>
			<select name="interest" id="interest" placeholder="Please select an interest">
				<option>Shows & Concerts</option>
				<option>Fine Arts & Theater</option>
				<option>Bars & Nightlife</option>
				<option>Outdoor Adventures</option>
				<option>Sight Seeing</options>
				<option>Sporting Events</option>
				<option>Gaming & Arcades</option>
				<option>Classes</option>
				<option>Community Events</option>
				<option>Festivals</option>
				<option>Bargain Hunter</option>
			</select>
		</div>
		<div class="form-group">
			<label for="">Seattle Neighborhood</label>
			<input type="text" class="form-control" placeholder="Seattle Neighborhood Here" name="neighborhood">
		</div>
		<div class="form-group">
			<label for="">City</label>
			<input type="text" class="form-control" placeholder="City Here (Should always be Seattle!)" name="city">
		</div>
		<input type="submit" class="btn btn-primary">
	</form>
</div>